
.login {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
}

.form .emailLogin {
    font-size: 18px;
    border-color: black;
}

.form .buttonLogin {
    width: 100%;
    margin-top: 10px;
}