
.register {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
}

.form {
    width: 250px;
}

.form .username {
    font-size: 18px;
    border-color: black;
}

.form .email {
    font-size: 18px;
    border-color: black;
}

.form .password {
    font-size: 18px;
    border-color: black;
}

.form .buttonRegister {
    width: 100%;
    margin-top: 10px;
}

.form .required {
    color: red;
}